{{ if ne .Site.Menus.main nil }}
{{ if gt (len .Site.Menus.main) 0 }}
<img src="{{ .Site.BaseURL }}/droguewaters.jpg"/>
<ul>
	{{ range .Site.Menus.main }}
    {{ if .HasChildren }}
        <li class="toctree-l1">
            <a class="reference internal" href="{{ .URL }}">{{ .Name }}</a>
        </li>
            <ul>
                    {{ range .Children }}
                    <li class="toctree-l2"><a href="{{.URL}}">{{ .Name }}</a> </li>
                    {{ end }}
                </ul>
    {{ else }}
        <li class="toctree-l1">
            <a class="reference internal" href="{{ .URL }}">{{ .Name }}</a>
        </li>
    {{ end }}
	{{ end }}
</ul>
{{ end }}
{{ end }}
